* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
}

body {
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

h1 {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: #2b2a27;
}
p {
    text-align: left;
    margin-bottom: 20px;
}
.content {
    display: flex;
}

.image {
    width: 50%;
}

.image img {
    height: 700px;
    object-fit: cover;
    width: 100%;
}

.text {
    width: 50%;
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 20px;
}

h2 {
    text-align: start;
    border-bottom: dotted 1px #ccc;
    margin-bottom: 40px;

}

.flexbox {
    display: flex;
    justify-content:space-between ;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    flex-wrap: wrap;
}

.ingrident {
    margin-bottom: 40px;
}

ol {
    margin-bottom: 80px;
}
.text li {
    border-bottom: dotted 1px #ccc;
    text-align: left;
    padding: 6px 0;
    margin-left: 20px;
}

.btn {
    text-align: center;
    padding-bottom: 80px;
}
.btn-link {
    border-style: solid;
    text-decoration: none;
    padding: 18px 60px;
}

.footer {
    font-size: 0.75rem;
}
.sns {
    display: flex;
    justify-content: center;
}
.sns li {
    margin: 0 10px;
    padding: 0;
    margin-bottom: 20px;
}

.footer p {
    text-align: center;
    margin-bottom: 20px;
}